services:
  postgres:
    image: postgres:15
    container_name: bike_postgres
    restart: always
    environment:
      POSTGRES_USER: bike_user
      POSTGRES_PASSWORD: bike_password
      POSTGRES_DB: bike_data
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: bike_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - postgres
    ports:
      - "5050:80"

volumes:
  postgres_data:
